<md-toolbar color="primary">
  {{title}}
</md-toolbar>
<div class="page">
  <p>Select your current Angular version, and the desired version of Angular. We'll tell you the steps to update.</p>
  <div class="wizard">
    <div>
      <md-select [(ngModel)]="selectedFrom" placeholder="from">
        <md-option *ngFor="let version of versions" [value]="version">{{version.name}}</md-option>
      </md-select>
      <md-select [(ngModel)]="selectedTo" placeholder="to">
        <md-option *ngFor="let version of versions" [value]="version">{{version.name}}</md-option>
      </md-select>
    </div>

    <div>
      How complex is your app?
      <md-select [(ngModel)]="level">
        <md-option [value]="1">Basic</md-option>
        <md-option [value]="2">Medium</md-option>
        <md-option [value]="3">Advanced</md-option>
      </md-select>
    </div>

    <div>
      <md-checkbox [(ngModel)]="ngUpgrade">I use ngUpgrade</md-checkbox>

    </div>

    <div><button type="button" (click)="showUpgradePath()" md-raised-button color="primary">Show me how to upgrade!</button></div>
  </div>

  <div class="recommendations" *ngIf="beforeRecommendations.length > 0 || duringRecommendations.length > 0 || afterRecommendations.length > 0">
    <hr>
    <h1>Angular Updating {{ from.name }} -> {{to.name}} Guide for {{level
      < 2 ? 'Basic' : level < 3 ? 'Medium' : 'Advanced' }} Apps</h1>
        <h2>Before updating</h2>
        <div *ngFor="let r of beforeRecommendations">
          <md-checkbox></md-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>

        <h2>During the update</h2>
        <div *ngFor="let r of duringRecommendations">
          <md-checkbox></md-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
        <h2>After the update</h2>
        <div *ngFor="let r of afterRecommendations">
          <md-checkbox></md-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
  </div>
</div>