<mat-toolbar color="primary">
  <div class="page-title">Angular Update Guide</div>
</mat-toolbar>
<div class="page">
  <div class="wizard">
    <div>
      <mat-card>
        <h3>
          Select the options matching your project:
        </h3>

        <mat-card-content>

          <h4>Angular Version</h4>

          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="from" placeholder="from">
              <mat-option *ngFor="let version of versions" [value]="version">{{version.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="to" placeholder="to">
              <mat-option *ngFor="let version of versions" [value]="version">{{version.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <h4>App Complexity</h4>
          <ng-container>
              <mat-button-toggle-group [(ngModel)]="level">
                <mat-button-toggle [value]="1">Basic</mat-button-toggle>
                <mat-button-toggle [value]="2">Medium</mat-button-toggle>
                <mat-button-toggle [value]="3">Advanced</mat-button-toggle>
              </mat-button-toggle-group>
            </ng-container>

          <ng-container *ngFor="let option of optionList">
            <h4>{{option.name}}</h4>
            <p>
              <mat-checkbox [(ngModel)]="options[option.id]">I use {{option.name}}</mat-checkbox>
            </p>
            <mat-grid-tile [colspan]="2"></mat-grid-tile>
          </ng-container>

          <h4>Package Manager</h4>
          <ng-container>
            <mat-button-toggle-group [(ngModel)]="packageManager">
              <mat-button-toggle value="npm install">npm</mat-button-toggle>
              <mat-button-toggle value="yarn add">yarn</mat-button-toggle>
            </mat-button-toggle-group>
          </ng-container>

        </mat-card-content>
        <mat-card-actions>
          <button type="button" (click)="showUpdatePath()" mat-raised-button color="primary">Show me how to update!</button>
        </mat-card-actions>
      </mat-card>

      <div *ngIf="from.number >= 700 || to.number >= 700">
        <br/>
        <strong style="color:darkred">Warning:</strong> Plans for releases after the current major release are not finalized and may change. These recommendations
        are based on scheduled deprecations.
      </div>
      <div *ngIf="from.number > to.number">
        <br/>
        <strong style="color:darkred">Warning:</strong> We do not currently support downgrading versions of Angular.
      </div>
      <div *ngIf="to.number - from.number > 100">
        <br/>
        <strong style="color:darkred">Warning:</strong> We do not recommend moving across multiple major versions.
      </div>
    </div>
  </div>

  <!-- RECOMMENDATIONS SECTION -->

  <div class="recommendations" *ngIf="beforeRecommendations.length > 0 || duringRecommendations.length > 0 || afterRecommendations.length > 0">
    <h2>{{title}}</h2>
    <h3>Before Updating</h3>
    <div *ngFor="let r of beforeRecommendations">
      <mat-checkbox></mat-checkbox>
      <div style="margin-left:30px;" [innerHTML]="r.renderedStep"></div>
    </div>
    <div *ngIf="beforeRecommendations.length <= 0">
      <em>There aren't currently any recommendations for moving between these versions.</em>
    </div>

    <h3>During the Update</h3>
    <div *ngFor="let r of duringRecommendations">
      <mat-checkbox></mat-checkbox>
      <div style="margin-left:30px;" [innerHTML]="r.renderedStep"></div>
    </div>
    <div *ngIf="duringRecommendations.length <= 0">
      <em>There aren't currently any recommendations for moving between these versions.</em>
    </div>
    <h3>After the Update</h3>
    <div *ngFor="let r of afterRecommendations">
      <mat-checkbox></mat-checkbox>
      <div style="margin-left:30px;" [innerHTML]="r.renderedStep"></div>
    </div>
    <div *ngIf="afterRecommendations.length <= 0">
      <em>There aren't currently any recommendations for moving between these versions.</em>
    </div>
  </div>
</div>
