@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  padding: 16px 0;
}

h1, h2, h3, h4, h5, h6, p, li, ul, ol, td, th, table {
  color: #333333;
}

p {
  margin-bottom: 16px;
  line-height: 1.75;
}

a {
  color: #3f51b5;
}

a:hover {
  color: #283593;
}

.page {
  padding: 16px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 16px;
}

.wizard > div {
  margin: 16px 0;
}

.recommendations mat-checkbox {
  float: left;
}

code {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 6px;
  background-color: #CFD8DC;
  border-radius: 3px;
  font-family: 'Roboto Mono', monospace;
  display:inline-block;
}

mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin-right: 1em;
}

mat-toolbar .page-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
