@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  padding: 16px 0;
}

.page {
  padding: 16px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 16px;
}

p {
  margin-bottom: 16px;
}

.wizard > div {
  margin: 16px 0;
}

.recommendations mat-checkbox {
  float: left;
}

code {
  padding: 0 6px;
  background-color: #c0c0c0;
  border-radius: 3px;
  font-family: 'Roboto Mono', monospace;
  display:inline-block;
}
